---
import CommonHead from "../../components/CommonHead.astro";
import Navbar from "../../components/Navbar.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";
import GithubIcon from "../../icons/GithubIcon.astro";
import GoogleIcon from "../../icons/GoogleIcon.astro";
import LinkedinIcon from "../../icons/LinkedinIcon.astro";
import LinkIcon from "../../icons/LinkIcon.astro";
import FooterSection from "../../components/FooterSection.astro";
import ImagenLuis from "/src/assets/luis.jpg";
import Tag from "../../components/Tag.astro";
import NavbarResponsive from "../../components/Navbar__responsive.astro";

// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
    const blogEntries = await getCollection("posts");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
const allBlogPosts = await getCollection("posts");
const filteredPost = allBlogPosts.filter((post) => post.slug != entry.slug);
---

<!doctype html>
<html lang="en">
    <CommonHead />
    <body>
        <NavbarResponsive />
        <Navbar />
        <main class="post-container">
            <section class="post">
                <div class="post__first-header">
                    <span class="post__category"
                        >{entry.data.categories.slice(0, 1)}
                    </span>
                    <a class="post__link" href={entry.data.url}
                        >Visitar sitio <LinkIcon
                            width="24px"
                            height="24px"
                            color="white"
                        /></a
                    >
                </div>
                <h1 class="post__title">{entry.data.title}</h1>
                <p class="post__description">{entry.data.description}</p>
                <section class="post__social">
                    <a class="profile__link" href="https://github.com/iDevLP"
                        ><GithubIcon
                            width="32px"
                            height="32px"
                            color="white"
                        /></a
                    >
                    <a
                        class="profile__link"
                        href="https://www.linkedin.com/in/devlp/"
                        ><LinkedinIcon
                            width="32px"
                            height="32px"
                            color="white"
                        /></a
                    >
                    <a
                        class="profile__link"
                        href="mailto:luispasten.devlp@gmail.com"
                        ><GoogleIcon
                            width="32px"
                            height="32px"
                            color="white"
                        /></a
                    >
                </section>
                <img
                    transition:name={entry.slug}
                    transition:animate="initial"
                    class="post__banner"
                    src=`../../${entry.data.image}`
                    alt=`Imagen del sitio ${entry.data.url}`
                />
                <Content />
                <section class="tag__section">
                    <h2>Tags:</h2>
                    <section class="tag__container">
                        {
                            entry.data.tags.map((tag: string) => (
                                <Tag tagname={tag} />
                            ))
                        }
                    </section>
                </section>
                <section class="author__card">
                    <img class="author__image" src={ImagenLuis.src} alt="" />
                    <section class="author__body">
                        <span class="author__job"
                            >Desarrollador y diseñador web</span
                        >
                        <h2 class="author__name">Luis Pastén Jara</h2>
                        <p class="author__description">
                            Ayudo a las personas a comunicar sus ideas y ofrecer
                            sus servicios mediante la identificación de las
                            necesidades de los clientes y usuarios. Utilizo la
                            arquitectura de la información y el desarrollo de
                            prototipos funcionales e interactivos de interfaces
                            digitales, asegurando criterios de accesibilidad,
                            usabilidad y diseño. Me apasiona crear cosas nuevas,
                            y tengo un gran interés en el diseño gráfico y la
                            lógica de programación.
                        </p>
                    </section>
                </section>
            </section>
            <aside class="aside">
                <h2>Últimos proyectos</h2>
                <section class="related-posts">
                    {
                        filteredPost
                            .slice(0, 2)
                            .map((post) => (
                                <BlogCard
                                    blogCardLink={post.slug}
                                    blogCardTitle={post.data.title}
                                    blogCardTags={post.data.tags}
                                    blogCardImage={post.data.image}
                                />
                            ))
                    }
                </section>
            </aside>
        </main>
        <FooterSection />
        <style>
            .post-container {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 1.5rem;
                margin: auto;
                margin-top: 4rem;
                max-width: 1240px;
            }
            .post {
                grid-column: span 8;
            }
            .post__first-header {
                display: flex;
                justify-content: space-between;
            }
            .post__category {
                font-weight: 600;
                color: var(--primary-color);
            }
            .post__link {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
            }
            .post__link:hover {
                color: var(--primary-color);
            }
            .post__title {
                font-size: 2rem;
            }
            .post__description {
                font-style: italic;
                padding: 1rem 0;
            }
            .post__social {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }
            .post__banner {
                width: 100%;
                border-radius: 1rem;
                margin: 1rem 0;
            }
            .aside {
                grid-column: span 4;
                background-color: rgba(255, 255, 255, 0.08);
                border-radius: 1rem;
                padding: 1rem;
                position: sticky;
                top: 0;
                height: fit-content;
            }
            .aside h2 {
                margin-bottom: 1rem;
            }
            .related-posts {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .tag__section h2 {
                padding: 2rem 0 0 0;
            }
            .tag__container {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                padding: 1rem 0 2rem 0;
            }
            .author__card {
                background-color: rgba(255, 255, 255, 0.08);
                display: flex;
                gap: 1rem;
                padding: 1rem;
                border-radius: 1rem;
                justify-content: center;
                align-items: center;
                height: 300px;
            }
            .author__image {
                border-radius: 50%;
                width: 200px;
                height: 200px;
            }
            .author__job {
                color: var(--primary-color);
                font-weight: 500;
            }
            .author__name {
                font-size: 2rem;
                margin: 0.5rem 0;
            }
            .author__description {
                color: #ffffff99;
            }
            @media (width<800px) {
                .post-container {
                    display: flex;
                    flex-direction: column;
                }
                .author__card {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                }
            }
        </style>
    </body>
</html>
