---
import CommonHead from "../../components/CommonHead.astro";
import Navbar from "../../components/Navbar.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";
import GithubIcon from "../../icons/GithubIcon.astro";
import GoogleIcon from "../../icons/GoogleIcon.astro";
import LinkedinIcon from "../../icons/LinkedinIcon.astro";
import LinkIcon from "../../icons/LinkIcon.astro";
import FooterSection from "../../components/FooterSection.astro";
import ImagenLuis from "/src/assets/luis.jpg";
import NavbarResponsive from "../../components/Navbar__responsive.astro";

// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
    const allPosts = await getCollection("posts");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<html lang="en">
    <CommonHead />
    <body>
        <NavbarResponsive />
        <Navbar />
        <main>
            <h1>Post relacionados con: {tag}</h1>
            <section>
                {
                    posts.map((post) => (
                        <BlogCard
                            blogCardLink={post.slug}
                            blogCardTitle={post.data.title}
                            blogCardTags={post.data.tags}
                            blogCardImage={post.data.image}
                        />
                    ))
                }
            </section>
            <FooterSection />
        </main>
        <style>
            main {
                max-width: 1240px;
                margin: auto;
                margin-top: 4rem;
            }
            section {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.5rem;
                margin-top: 2rem;
            }
            @media (width < 800px) {
                section {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        </style>
    </body>
</html>
