---
import Tag from "./Tag.astro";
const { blogCardImage, blogCardTitle, blogCardTags, blogCardLink } =
    Astro.props;
---

<article>
    <header>
        <img
            transition:name={blogCardLink}
            transition:animate="initial"
            src=`../../${blogCardImage}`
            alt="Imagen de prueba"
        />
    </header>
    <section>
        <h1><a href=`/posts/${blogCardLink}`>{blogCardTitle}</a></h1>
        <footer>
            {
                blogCardTags
                    .slice(0, 3)
                    .map((tag: string) => <Tag tagname={tag} />)
            }
        </footer>
    </section>
</article>
<style>
    article {
        background-color: rgba(255, 255, 255, 0.08);
        overflow: hidden;
        border-radius: 1rem;
    }
    header {
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    section {
        padding: 1rem;
    }
    footer {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    a {
        color: white;
    }
</style>
